<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"  href="/css/struts2style.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg py-3 shadow-sm">
    <div class="container">
        <a href="/tickets" class="navbar-brand">
            <!-- Logo Image -->
            <img src="/images/strut2-logo.png" width="55" height="40" alt="">
            <span class="text-uppercase font-weight-bold">Apache Struts2</span>
        </a>

        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="/tickets" class="nav-link">Seznam rezervací</a></li>
                <li class="nav-item"><a href="/addTicket" class="nav-link">Nová rezervace</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="form-part">
    <h1>Nová rezervace</h1>
        <form action="#" th:action="@{/createTicket}" th:object="${ticket}" method="post">
            <table class="form-table">
                <tbody>
                <tr>
                    <td class="form-title">Film:</td>
                    <td  class="form-field">
                        <select th:field="*{movie}">
                        <option value="Star Wars: Pomsta Sithů">Star Wars: Pomsta Sithů</option>
                        <option value="Avengers Endgame">Avengers Endgame</option>
                        <option value="Pulp Fiction">Pulp Fiction</option>
                        <option value="John Wick">John Wick</option>
                        </select>
                    </td>

                </tr>
                <tr>
                <tr>
                    <td class="form-title">Jazyk:</td>
                    <td class="form-field">
                        <select th:field="*{language}">
                            <option value="Angličtina">Angličtina</option>
                            <option value="Čeština">Čeština</option>
                        </select>
                </tr>
                <tr>
                    <td class="form-title">Sál:</td>
                    <td class="form-field">
                        <select th:field="*{hall}">
                            <option value="J2">J2</option>
                            <option value="J3">J3</option>
                        </select>
                </tr>
                <tr>
                    <td class="form-title">Počet míst:</td>
                    <td  class="form-field">
                        <input min="1" required th:field="*{numberOfSeats}"
                               type="number">


                    </td>
                    <!-- <td class="form-field"><input type="text" th:field="*{movie}" required/></td>-->
                </tr>

                <tr>

                    <td colspan="2" class="form-buttons">
                        <input type="submit" class="button_a" value="Odeslat"/>
                        <input type="reset" class="button_a" value="Reset"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
</div>
<div class="form-part">
    <form action="#" method="post" th:action="@{/ticketUpdate/{id}(id=${ticket.getId()})}" th:object="${ticket}">
    <h1>Úprava rezervace</h1>
        <table class="form-table">
            <tbody>
            <tr>
                <td class="form-title">Film:</td>
                <td  class="form-field">
                    <select th:field="*{movie}">
                        <option value="Star Wars: Pomsta Sithů">Star Wars: Pomsta Sithů</option>
                        <option value="Avengers Endgame">Avengers Endgame</option>
                        <option value="Pulp Fiction">Pulp Fiction</option>
                        <option value="John Wick">John Wick</option>
                    </select>
                </td>
                <!-- <td class="form-field"><input type="text" th:field="*{movie}" required/></td>-->
            </tr>
            <tr>
            <tr>
                <td class="form-title">Jazyk:</td>
                <td class="form-field">
                    <select th:field="*{language}">
                        <option value="Angličtina">Angličtina</option>
                        <option value="Čeština">Čeština</option>
                    </select>
            </tr>
            <tr>
                <td class="form-title">Sál:</td>
                <td class="form-field">
                    <select th:field="*{hall}">
                        <option value="J2">J2</option>
                        <option value="J3">J3</option>
                    </select>
            </tr>

            <tr>
                <td class="form-title">Počet míst:</td>
                <td  class="form-field">
                    <input  min="1" required th:field="*{numberOfSeats}"
                           type="number">

                    </input>
                </td>
                <!-- <td class="form-field"><input type="text" th:field="*{movie}" required/></td>-->
            </tr>
            <tr>

                <td colspan="2" class="form-buttons">
                    <input type="submit" class="button_a" value="Odeslat"/>
                    <input type="reset" class="button_a" value="Reset"/>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div>
    <table class="table-list">
        <thead>
        <th>Sál</th>
        <th>Kapacita</th>
        </thead>
        <tbody>

        <tr th:action="@{/addTicket}" th:each=" hall: ${halls}">

            <td><span class="ticketProps" th:text="${hall.getName()}"> Sál </span></td>
            <td><span class="ticketProps"th:text="${hall.getCapacity()}"> Kapacita </span></td>



        </tr>
        </tbody>

    </table>
</div>
</body>
</html>